/* These styles apply to all pages */

body{
    background: url("../images/gravel.png");
    margin: 0px
}

p, label {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    }   

.navLink {
    text-decoration: none;
    margin-left: 5px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 2px solid #cccccc;
    padding-right: 10px;
}

.navLink:hover{
    background-color: #4aaaa5;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-left: -5px;
}

header{
    width: 100%;
    border-bottom: 2px solid #cccccc;
}

.containerTitle{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bioPic{
    float: left;
    margin: 4px 15px 5px 0px;
    max-width: 100%;
    height: auto;
}

.biography{
    text-align: justify;
}

.navigationBar{
    width: 100%;
    background: #ffffff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #cccccc;
    z-index: 100;
}

#pageTitle{
    background: #4aaaa5;
    color: white;
    margin: -10px 0px 0px 15%;
    height: 55px;
    line-height: 55px;
    padding: 10px 10px 0px 10px;
    display: block;
    overflow: hidden;
    z-index: 101;
}

nav{
    margin-right: 15%;
    padding-top: 16px;
}


.wrapper{
    min-height: calc(100vh - 159px);
}

.container{
    margin: 65px 15% 0px 15%;
    border: 1px solid #dddddd;
    padding: 0px 20px 20px 20px;
    background: #ffffff;
    display: block;
    overflow: auto;
}

footer{
    background-color: grey;
    height: 40px;
    margin-top: 29px;
    border-top: 6px solid #4aaaa5;
    text-align: center;
}

.social{
    margin: 5px 0px 0px 15px
}

/* These are styles unique to the contact.html page */

#message, #name, #email{
    width: 100%;
    margin-top: 5px;
}

#submitButton{
    background-color: #4aaaa5;
    color: white;
    border: none;
    height: 30px;
    width: 60px;
}

#submitButton:hover{
    box-shadow: 0px 5px 15px rgb(74, 170, 165, .5);
}

/* These are styles that apply only to the portfolio pages. */

.portfolio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0px -20px 0px;
    width: 485px;
    max-width: 100%;
}

.pContainer{
    height: 175px;
    width: 225px;
    margin: 5px 15px 35px -5px;
    position: relative;
}

.portfolioObject{
    color: white;
    background-color: #4aaaa5;
    text-decoration: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 70%;
    padding: 10px 0px 10px 0px;
}

.fillingEmptySpace{
    width: 225px;
    height: 0px;
    margin: 5px 15px 10px -5px;
}

#hangman{
    background-image: url(https://loremflickr.com/225/200);
}

#trivia{
    background-image: url(https://loremflickr.com/225/200/car);
}

#RPC{
    background-image: url(https://loremflickr.com/225/200/dog);
}

#RPG{
    background-image: url(https://loremflickr.com/225/200/building);
}

#Rutgers{
    background-image: url(https://loremflickr.com/225/200/nature);
}