/* These styles apply to all pages */

body{
    background: url("../images/gravel.png");
}

p, label, {
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
}   

.navLink {
    text-decoration: none;
    margin-left: 7px;
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    width: 100%;
    border-bottom: 2px solid #cccccc;
}

.containerTitle{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bioPic{
    float: left;
    margin: 0px 15px 5px 0px;
}

.navigationbar{
    width: 100%;
    background: #ffffff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #cccccc;
    height: 55px;
    padding-top: 8px;
    margin-top: -8px;
    margin-left: -7px;
}

#pageTitle{
    background: #4aaaa5;
    color: white;
    margin: -10px 0px 0px 10%;
    height: 55px;
    line-height: 55px;
    padding: 10px 10px 0px 10px;
    display: block;
    overflow: hidden;
    font-size: calc(16px + 1vw);
}

nav{
    margin-right: 12%;
    padding-top: 16px;
}

.container{
    margin: 65px 10% 0px 9%;
    border: 1px solid #dddddd;
    padding: 0px 20px 20px 20px;
    background: #ffffff;
    display: block;
    overflow: auto;
}

/* These are styles unique to the contact.html page */

#message, #name, #email{
    width: 100%;
    margin-top: 5px;
}

/* These are styles that apply only to the portfolio pages. */

.portfolio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pContainer{
    height: 200px;
    width: 200px;
    background-color: #4aaaa5;
    margin: 15px 15px 15px 15px;
}